# Poroyecto ETL. Tennis.

En primer lugar se procede con la extracción de datos, que según las bases del proyecto hay que establecer tres y dos métodos de extracción.

Las fuentes elegidas son kaggle, y las páginas web de la ESPN y la ATP.

En primero lugar se descarga el archivo de kaggle y se realiza el escrapeo de las tabalas que interesan de las webs mencionadas.

### Scraping  de la web de la ATP.

El scraping se va a realizar con Selenium.

In [1]:
%pip install webdriver-manager

Requirement already satisfied: webdriver-manager in /Users/anachaparrohernandez/opt/anaconda3/envs/clase/lib/python3.7/site-packages (3.8.4)
Requirement already satisfied: python-dotenv in /Users/anachaparrohernandez/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: tqdm in /Users/anachaparrohernandez/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: requests in /Users/anachaparrohernandez/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/anachaparrohernandez/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from requests->webdriver-manager) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in /Users/anachaparrohernandez/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/anachaparrohernandez/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from requests->webdriver-manager) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/anachaparrohernandez/opt/anaconda3/envs/clase/lib/python3.7/site-packages (from requests->webdriver-manager) (2022.9.24)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from selenium import webdriver

In [3]:
from selenium import webdriver
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

In [4]:
from selenium import webdriver

In [5]:
from webdriver_manager.chrome import ChromeDriverManager

PATH=ChromeDriverManager().install()

In [6]:
from selenium.webdriver.common.by import By   

import time

import warnings
warnings.filterwarnings('ignore')

In [7]:
#Se indica la url el la que se encuntran las tables de las que se va a hacer el scrapeo:

urlatpsaq='https://www.atptour.com/es/stats/leaderboard?boardType=serve&timeFrame=2021&surface=all&versusRank=all&formerNo1=false'

In [8]:
driveratpsaq=webdriver.Chrome(PATH)         

driveratpsaq.get(urlatpsaq)

In [9]:
tableatp1=driveratpsaq.find_element(By.XPATH, '//*[@id="statsListingTableContent"]/table')

saque=[[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tableatp1.find_elements(By.TAG_NAME, 'tr')]

In [10]:
saque[:3]

[[],
 ['1',
  'John Isner',
  '314.8',
  '68.7%',
  '79.3%',
  '56.0%',
  '92.2%',
  '20.6',
  '2.0'],
 ['2',
  'Reilly Opelka',
  '300.6',
  '65.7%',
  '77.1%',
  '54.8%',
  '88.3%',
  '17.1',
  '2.4']]

In [11]:
colssaque = [e.text.split('\n') for e in driveratpsaq.find_elements(By.CLASS_NAME, 'leaderboard-table-header')]
colssaque

[['Efectividad Al Saque ©',
  'Jugador',
  'Efectividad Al Saque ©',
  '% 1er Servicio',
  '% Puntos Ganados 1er Saque',
  '% Puntos Ganados 2do Saque',
  '% Games Ganados Saque',
  'Prom. Aces Por Partido',
  'Prom. Dobles Por Partido']]

In [12]:
driveratpsaq.quit()

In [13]:
lid_al_saque = pd.DataFrame(saque, columns=colssaque)
lid_al_saque.head()

,Efectividad Al Saque ©,Jugador,Efectividad Al Saque ©,% 1er Servicio,% Puntos Ganados 1er Saque,% Puntos Ganados 2do Saque,% Games Ganados Saque,Prom. Aces Por Partido,Prom. Dobles Por Partido
0,None,None,None,None,None,None,None,None,None
1,1,John Isner,314.8,68.7%,79.3%,56.0%,92.2%,20.6,2.0
2,2,Reilly Opelka,300.6,65.7%,77.1%,54.8%,88.3%,17.1,2.4
3,3,Matteo Berrettini,295.9,64.3%,79.1%,52.8%,89.8%,11.5,1.6
4,4,Nick Kyrgios,293.7,67.7%,77.1%,51.3%,85.6%,14.4,2.4

#### Se obtiene la segunda tabla interesada de la misma manera.

In [14]:
#El url de la tabla que se quiere obtener:

urlatpres='https://www.atptour.com/es/stats/leaderboard?boardType=return&timeFrame=2021&surface=all&versusRank=all&formerNo1=false'

In [15]:
driveratpres=webdriver.Chrome(PATH)         

driveratpres.get(urlatpres)

In [16]:
#De la misma manera se obtiene la tabla de líderes al resto:

tableatp2=driveratpres.find_element(By.XPATH, '//*[@id="statsListingTableContent"]/table')

resto=[[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tableatp2.find_elements(By.TAG_NAME, 'tr')]

In [17]:
resto[:3]

[[],
 ['1', 'Rafael Nadal', '171.4', '34.3%', '57.3%', '35.6%', '44.2%'],
 ['2', 'Novak Djokovic', '171.0', '35.8%', '55.3%', '34.6%', '45.3%']]

In [18]:
colsresto = [e.text.split('\n') for e in driveratpres.find_elements(By.CLASS_NAME, 'leaderboard-table-header')]
colsresto

[['Efectividad Al Resto ©',
  'Jugador',
  'Efectividad Al Resto ©',
  '% Restos 1er Saque',
  '% Restos 2° Saque',
  '% Games Al Resto',
  '% Break Points Convertidos']]

In [19]:
driveratpres.quit()

In [20]:
lid_al_resto = pd.DataFrame(resto, columns=colsresto)
lid_al_resto.head()

,Efectividad Al Resto ©,Jugador,Efectividad Al Resto ©,% Restos 1er Saque,% Restos 2° Saque,% Games Al Resto,% Break Points Convertidos
0,None,None,None,None,None,None,None
1,1,Rafael Nadal,171.4,34.3%,57.3%,35.6%,44.2%
2,2,Novak Djokovic,171.0,35.8%,55.3%,34.6%,45.3%
3,3,Alex Molcan,169.4,35.3%,55.6%,34.7%,43.8%
4,4,Diego Schwartzman,169.3,35.3%,54.8%,33.8%,45.4%




La tercera tabla que se va a utilizar, scrapeada tamnbién con Selenium pertenece a la página web de la ESPN, y nos ofrece información sobre el ranking actual.

In [21]:
#El url de la tabla que se quiere obtener:

urlaespn='https://espndeportes.espn.com/tenis/rankings/_/temporada/2021'

In [22]:
driverespn=webdriver.Chrome(PATH)         

driverespn.get(urlaespn)

In [23]:
tablaespn=driverespn.find_element(By.XPATH, '//*[@id="fittPageContainer"]/div[3]/div/div/section/div/div/section/div[4]/div[2]/div/div[2]')

In [24]:
ranks=[[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tablaespn.find_elements(By.TAG_NAME, 'tr')]

In [25]:
cabeceras=driverespn.find_element(By.TAG_NAME, 'thead')

cabeceras=[c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

driverespn.quit()

In [26]:
rankings=pd.DataFrame(ranks, columns=cabeceras)

rankings.head()

    POS              NOMBRE  PUNTOS
0  None                None    None
1     1      Novak Djokovic  11,540
2     2     Daniil Medvedev   8,640
3     3    Alexander Zverev   7,840
4     4  Stefanos Tsitsipas   6,540

### El último archivo se trata de un csv descargado directamente de la página web de kaggle, que ofrece informción sobre los registros de todos los torneos(ATP250, ATP500, MasterMil, Grand Slam...) desde el año 2018 hasta el actual.

In [27]:
import csv

tenis=pd.read_csv('tennis_data.csv')

In [28]:
tenis.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,pl1_flag,pl1_year_pro,pl1_weight,pl1_height,pl1_hand,pl2_flag,pl2_year_pro,pl2_weight,pl2_height,pl2_hand
0,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Kwon S.W.,...,KOR,2015.0,72.0,180.0,Right-Handed,JPN,2014.0,64.0,170.0,Left-Handed
1,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Monteiro T.,...,BRA,2011.0,78.0,183.0,Left-Handed,GER,2014.0,80.0,188.0,Right-Handed
2,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Djere L.,...,SRB,2013.0,80.0,185.0,Right-Handed,ESP,2011.0,76.0,180.0,Right-Handed
3,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Johnson S.,...,USA,2012.0,86.0,188.0,Right-Handed,AUS,2018.0,85.0,188.0,Right-Handed
4,1,Adelaide,Adelaide International 1,2022-01-04,ATP250,Outdoor,Hard,1st Round,3,Moutet C.,...,FRA,2016.0,71.0,175.0,Left-Handed,DEN,2020.0,77.0,188.0,Right-Handed

In [29]:
tenis.shape

(36120, 54)

Se exportan los archivos csv para prodecer a la limpieza de los DF.

In [33]:
lid_al_saque.to_csv('saque1.csv', index=False)

In [34]:
lid_al_resto.to_csv('resto1.csv', index=False)

In [35]:
rankings.to_csv('ranking1.csv', index=False)

In [36]:
tenis.to_csv('torneos1.csv', index=False)